* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0.05rem;
}

span {
    text-transform: capitalize;
}

.container {
    width: 100%;
    height: 100%;
}

.header__body {
    position: fixed;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    z-index: 50;
    padding: 0 20px;
    background-color: rgb(214, 99, 99);
}

.header__logo span {
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.search input {
    border-radius: 25px;
    padding: 10px 20px;
}

.main__body {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
    padding: 50px 20px 10px 20px;
}

.pokemon {
    flex: 15%;
    max-width: 15%;
    height: 200px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    box-shadow: 1px 1px 5px rgb(209, 209, 209);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.pokemon__sprite {
    width: 110px;
    height: 110px;
    margin-bottom: 6px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(190, 190, 190);
    border-radius: 50%;
    transition-duration: 0.3s;
}

.pokemon__sprite:hover, .pokemon__sprite:active {
    border: 1px solid rgb(214, 99, 99);
}

.pokemon__sprite img {
    max-width: 100%;
    height: auto;
    transition-duration: 0.3s;
}

.pokemon__sprite img:hover, .pokemon__sprite img:active {
    transform: rotate(15deg);
}

.pokemon__name {
    margin-bottom: 3px;
}

.pokemon__name span {
    font-weight: 600;
}

.pokemon__id {
    border-radius: 50%;
    background-color: rgb(214, 99, 99);
    padding: 3px 5px;
    margin-bottom: 3px;
}

.pokemon__id span {
    color: rgb(255, 255, 255);
}

.pokemon__height,
.pokemon__weight,
.pokemon__types {
    display: none;
}

.pokemon.active {
    height: auto;
}

.pokemon.active .pokemon__height,
.pokemon.active .pokemon__weight,
.pokemon.active .pokemon__types {
    display: block;
}

.pokemon.active .pokemon__height span,
.pokemon.active .pokemon__weight span,
.pokemon.active .pokemon__types span {
    display: inline-block;
    margin-bottom: 3px;
}


.pokemon.active .pokemon__types span {
    margin-right: 5px;
    background-color: rgb(190, 190, 190);
    color: rgb(255, 255, 255);
    border-radius: 50%;
    padding: 5px;
}


.pokemon.active .pokemon__types span:last-child {
    margin-right: 0;
}

@media (max-width: 1025px) {
    .pokemon {
        flex: 20%;
        max-width: 25%;
    }
}

@media (max-width: 769px) {
    .pokemon {
        flex: 25%;
        max-width: 30%;
    }
}

@media (max-width: 520px) {
    .header__body {
        padding: 0 10px;
        height: 40px;
    }

    .main__body {
        padding-top: 40px;
    }

    .pokemon {
        flex: 45%;
        max-width: 55%;
    }

    .search input {
        padding: 5px 10px;
    }

    .header__logo span {
        font-size: 1.2rem;
    }
}

@media (max-width: 320px) {
    .pokemon {
        flex: 80%;
        max-width: 90%;
    }
}